body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Solway', serif;
  font-size: 2em;
}

h1 {
  font-size: 3.5em;
  line-height: 2;
  margin: 0.7em auto 0 auto;
  font-family: 'Over the Rainbow', cursive;
  color: #1ee3cf;
}

h2{
  font-size: 1.5em;
  font-family: 'Source Code Pro', monospace;
  color: #1ee3cf;
  font-weight: normal;
}

h3{
  font-size: 0.95em;
  font-family: 'Han Sans', sans-serif;
  color: #6b48ff;
  font-weight: normal;
  text-align: left;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #0d3f67;
  border-width: 0.5em;
  width: 5em;
  margin: 0.5em auto
}

table{
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 100%;
}

th{
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
}

td{
  text-align: center;
  vertical-align: bottom;
  padding-left: .25em;
  padding-right: .255em;
  width: auto;
}

p{
  line-height: 2;
  text-align: justify;
  font-size: 0.9em;
}
a{
  text-decoration: none;
}

a:hover{
  color: #6b48ff;
}

/**************************/
.top-container{
  background-color: #f2f4f6;
  position: relative;
  padding-top: 2.5em;

}

.top-drone{
  position: absolute;
  right: 15%;
  top: 2.5em;
  width: 2.25em;
  height: auto;
}

.bottom-drone{
  position: absolute;
  left: 15%;
  bottom: 13em;
  width: 3.5em;
  height: auto;
}

.programmer{
  position: relative;
  top: 0.5em;
  width: auto;
  height: 17em;
}

/**************************/

.middle-container{
  margin: 5em 0;
}

.profile{
  width: 90%;
  margin: 5em auto 5em auto;
}

.profile-pic{
  height: 8em;
  width: 8em;
}

.my-bio{
  margin: auto;
  text-align: center;
  width: 22em;
}

.skill-row{
  width: 85%;
  margin: 5em auto 5em auto;
  position: relative;
  line-height: 1.5;
}

.skills{
  width: 80%;
  margin: auto;
}

.skills-gif{
  height: 5em;
  width: 5em;
  background-color: #6b48ff;
  border-radius: 50%;
  float: left;
  margin-right: 1.5em;
}

.skills-icon{
  width: 3.5em;
  height: auto;
}

.star{
  width: 0.7em;
  height: auto;
}

.other-skills-gif{
  height: 5em;
  width: 5em;
  background-color: #6b48ff;
  border-radius: 50%;
  float: right;
  margin-left: 0.938em;
  margin-right: 0.938em;
}

.other-skills-title{
  text-align: justify;
  padding: 0;
  margin: 0;
}

.skills-gif-2{
  height: 3.750em;
  width: 3.750em;
  background-color: #1ee3cf;
  border-radius: 50%;
  float: left;
  margin-right: 0.938em;
}

.five-stars{
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  float: left;
}

.contact-me{
  width: 85%;
  margin: 3.125em auto 0 auto;
  position: relative;
}

/**************************/

.bottom-container{
  background-color: #f2f4f6;
  padding: 0.313em 0 0;
  position: relative;
}

.contact-table{
  margin: auto;
  width: 15em;
}

.contact-icon{
  width: 1.563em;
  height: auto;
  margin: 1.250em 0 0 0;
}

.footer-link{
  color: #0d3f67;
  font-size: 65%;
}

.copy-right{
  text-align: center;
  font-size: 0.55em;
  margin-top: 1.563em;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #6b48ff
}

.attribution{
  text-align: center;
  font-size: 0.4em;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #0d3f67;
  margin-top: 0;
  position: relative;
  bottom: 0.031em;
}
